<div>

    <h2 translate="jobvacancyApp.jobOffer.home.title">JobOffer</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveJobOfferModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="jobvacancyApp.jobOffer.home.createLabel">Create a new JobOffer</span>
    </button>
    <div class="modal fade" id="saveJobOfferModal" tabindex="-1" role="dialog" aria-labelledby="myJobOfferLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myJobOfferLabel" translate="jobvacancyApp.jobOffer.home.createOrEditLabel">Create or edit a JobOffer</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="jobOffer.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="jobvacancyApp.jobOffer.title">Title</label>
                            <input type="text" class="form-control" name="title"
                                   ng-model="jobOffer.title">
                        </div>
                        <div class="form-group">
                            <label translate="jobvacancyApp.jobOffer.description">Description</label>
                            <input type="text" class="form-control" name="description"
                                   ng-model="jobOffer.description">
                        </div>
                        <div class="form-group">
                            <label translate="jobvacancyApp.jobOffer.location">Location</label>
                            <input type="text" class="form-control" name="location"
                                   ng-model="jobOffer.location">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteJobOfferConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(jobOffer.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="jobvacancyApp.jobOffer.delete.question" translate-values="{id: '{{jobOffer.id}}'}">Are you sure you want to delete this JobOffer?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="jobvacancyApp.jobOffer.title">Title</th>
                    <th translate="jobvacancyApp.jobOffer.description">Description</th>
                    <th translate="jobvacancyApp.jobOffer.location">Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="jobOffer in jobOffers">
                    <td><a ui-sref="jobOfferDetail({id:jobOffer.id})">{{jobOffer.id}}</a></td>
                    <td>{{jobOffer.title}}</td>
                    <td>{{jobOffer.description}}</td>
                    <td>{{jobOffer.location}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="jobOfferDetail({id:jobOffer.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(jobOffer.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(jobOffer.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
