<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>jobvacancy</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css assets/styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css assets/styles/main.css -->
        <link rel="stylesheet" href="assets/styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="jobvacancyApp">
        <!--[if lt IE 10]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak=""></div>
        <div ui-view="navbar" ng-cloak=""></div>
        <div class="container">
            <div ui-view="content"></div>
            <div class="footer">
                <p translate="footer">Job Vacancy Board by NicoPaez | 2015</p>
            </div>
        </div>

        <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
        <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


        <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
        <script src="scripts/app/app.js"></script>
        <script src="scripts/app/app.constants.js"></script>
        <script src="scripts/components/auth/auth.service.js"></script>
        <script src="scripts/components/auth/principal.service.js"></script>
        <script src="scripts/components/auth/services/account.service.js"></script>
        <script src="scripts/components/auth/services/activate.service.js"></script>
        <script src="scripts/components/auth/services/password.service.js"></script>
        <script src="scripts/components/auth/services/register.service.js"></script>
        <script src="scripts/components/form/form.directive.js"></script>
        <script src="scripts/components/language/language.service.js"></script>
        <script src="scripts/components/language/language.controller.js"></script>
        <script src="scripts/components/admin/audits.service.js"></script>
        <script src="scripts/components/admin/logs.service.js"></script>
        <script src="scripts/components/admin/configuration.service.js"></script>
        <script src="scripts/components/admin/monitoring.service.js"></script>
        <script src="scripts/components/navbar/navbar.directive.js"></script>
        <script src="scripts/components/navbar/navbar.controller.js"></script>
        <script src="scripts/components/util/truncate.filter.js"></script>
        <script src="scripts/components/util/base64.service.js"></script>
        <script src="scripts/app/account/account.js"></script>
        <script src="scripts/app/account/activate/activate.js"></script>
        <script src="scripts/app/account/activate/activate.controller.js"></script>
        <script src="scripts/app/account/login/login.js"></script>
        <script src="scripts/app/account/login/login.controller.js"></script>
        <script src="scripts/app/account/logout/logout.js"></script>
        <script src="scripts/app/account/logout/logout.controller.js"></script>
        <script src="scripts/app/account/password/password.js"></script>
        <script src="scripts/app/account/password/password.controller.js"></script>
        <script src="scripts/app/account/password/password.directive.js"></script>
        <script src="scripts/app/account/register/register.js"></script>
        <script src="scripts/app/account/register/register.controller.js"></script>
        <script src="scripts/app/account/settings/settings.js"></script>
        <script src="scripts/app/account/settings/settings.controller.js"></script>
        <script src="scripts/app/admin/admin.js"></script>
        <script src="scripts/app/admin/audits/audits.js"></script>
        <script src="scripts/app/admin/audits/audits.controller.js"></script>
        <script src="scripts/app/admin/configuration/configuration.js"></script>
        <script src="scripts/app/admin/configuration/configuration.controller.js"></script>
        <script src="scripts/app/admin/docs/docs.js"></script>
        <script src="scripts/app/admin/health/health.js"></script>
        <script src="scripts/app/admin/health/health.controller.js"></script>
        <script src="scripts/app/admin/logs/logs.js"></script>
        <script src="scripts/app/admin/logs/logs.controller.js"></script>
        <script src="scripts/app/admin/metrics/metrics.js"></script>
        <script src="scripts/app/admin/metrics/metrics.controller.js"></script>
        <script src="scripts/app/entities/entity.js"></script>
        <script src="scripts/app/error/error.js"></script>
        <script src="scripts/app/main/main.js"></script>
        <script src="scripts/app/main/main.controller.js"></script>
        <script src="scripts/components/auth/services/sessions.service.js"></script>
        <script src="scripts/components/auth/provider/auth.session.service.js"></script>
        <script src="scripts/app/account/sessions/sessions.js"></script>
        <script src="scripts/app/account/sessions/sessions.controller.js"></script>
        <!-- endbuild -->
</body>
</html>
